body {
    background-color: #333;
}

h1 {
    color: white;
    background: #8566aa;
    padding: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}

h3 {
    color: white;
    font-family: sans-serif;
    font-size: xx-large;
    font-family: Georgia;
}

.input-box-todo {
    margin-left: 10px;
    width: 30%;
    height: 40px;
    border-radius: 14px;
    border: 1px solid black;
    padding-left: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;

}

.add-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #316fc1;
    color: white;
    font-weight: bolder;
    font-size: larger;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
    transition: 0.3s;
}

.list-item {
    list-style-type: none;
    border: 2px solid rgb(161, 158, 158);
    color: white;
    padding: 3px;
    padding-left: 5px;
    border-radius: 5px;
    width:30%;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
    font-size: x-large;
}
